@import "tailwindcss";
html, body, #root {
  width: 100%;
  min-height: 100%;
  background-color: #f3f2ee;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* mobile header height */
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 5rem; /* desktop header height */
  }
}

/* Sidebar Menu Wrapper */
.sidebar-menu, .sidebar-plywood {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-weight: 500;
    color: #1f2933;
}

.menu-item, .plywood-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 7px 10px;
    text-decoration: none;
    color: black;
    transition: all 0.25s ease;
    border-bottom: 1px solid rgb(216, 215, 215);
    font-size: 13px;
}

.menu-item i{
    font-size: 16px;
    color: black;
}

.menu-item:hover, .plywood-item:hover {background-color: #f5f5f4; /* soft gray */}

